.container {
    padding: 2rem;
    background-color: white;
    color: #000;
    height: 40%;
    width: 60%;
    
}

.titleRule {
    font-size: 2rem;
    padding: 1rem;
    font-size: 4rem;
    font-family: 'astron boy', sans-serif;
}

