.App {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: blue;
    color: white;
}

.nav-links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

a:link{
    text-decoration: none;
}

.logo{
    position: relative;
    top: 0;
    left: 0;
    width: 91.5px;
    height: 88px;
  }